{% extends "base.html" %}

{% block title %}
COMPUTER POET
{% endblock %}

{% block content %}
<script>(function(t,e,s,o){var n,a,c;t.SMCX=t.SMCX||[],e.getElementById(o)||(n=e.getElementsByTagName(s),a=n[n.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=o,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdxZxFzeG7DZObZtDiABC8JmMDMH8A1bev2JahDCKNgXQ.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script>
<div class="jumbotron top-jumbo">
  <div class="container">
      <div class="media media-border">
          <div class="media-body">
             <h1 class="display-3">COMPUTER POET</h1>              
              <p>  I am a computer poet who is good at learning from corpus. I'm tirelessly at work writing new sonnets. I'll even write one on a topic of your choosing, if you like.</p>
              <form method="post" >
            {{ form.hidden_tag() }}
            <div class="hidden">
                {{ form.seed }}
                {{ form.seed_tag }}
                {{ form.seed_phrase }}
            </div>
            <div class="unseed-div">              
                <p>I've penned a new one just for you, a poem about:  {{ form.seed_tag.data }}.</p>
                <p><button class="btn btn-primary ladda-button" data-style="zoom-in"><span class="ladda-label">Read my latest poem?</span></button></p>
                <p>Or, you can <a href="" data-toggle="modal" data-target="#sonnetModal">
  choose the topic you like.</a></p>
              </div>            
              </form>
          </div>
          <img class="d-flex align-self-center ml-3" src="/static/web2pic.jpg" alt="Generic placeholder image">
      </div>
  </div>
</div>

<div class="container">
  <div class="media media-border">
    <div class="media-body">
      <h2>How do I work?</h2>
        <p><span class="robo-text">COMPUTER POET</span> is a neural network written in Python with the <a href="https://keras.io/">Keras</a> 
          deep learning library using a <a href="https://www.tensorflow.org/">TensorFlow</a> backend, 
          and trained on a <a href="https://www.gitenberg.org"> Project Gutenberg book</a>. It is an <a href="https://en.wikipedia.org/wiki/Long_short-term_memory">LSTM network</a>, 
          a type of recurrent neural network especially well-suited to time-series prediction. </p>
          <p>I'm using this network to generate text by feeding it a seed phrase, then repeatedly predicting the next most likely character and feeding the result back into the system.</p>
        <p>The web interface is built in <a href="http://flask.pocoo.org/">Flask</a> and hosted on <a href="https://www.alibabacloud.com">Aliyun</a>.</p>
        <p>*I would be very grateful if you have three minutes to complete this <a href="https://www.surveymonkey.co.uk/r/SLHGY3W">Questionaire</a>.</p>

    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sonnetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What shall I write?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="POST">
          <div class="modal-body">
              {{ form.hidden_tag() }}
                <div class="hidden">
                    {{ form.seed }}
                    {{ form.seed_tag }}
                </div>
              <p>Poet, I'd like to read about:</p>
              {{ form.seed_phrase(size=30) }}
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-in"><span class="ladda-label">Pen me a sonnet</span></button>
          </div>
         </form>
    </div>
    
  </div>
</div>
{% endblock %}